.main-container {
  margin-top: 2rem;
}
.video-class {
  height: 100%;
  width: 100%;
}
.about-content {
  text-align: justify;
  background-color: rgba(0,0,0, 0.6);
  margin-top: 2rem;
  padding: 1rem 9rem 1rem 9rem !important;
  color: white;
}
.under-title {
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: white;
}
.titles {
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.icon-animation{
  animation: pulse 0.7s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(200%);
    transition: 0.5s;
    color: yellow;
  }
}

@media only screen and (max-width: 767px) {
  .about-content {
    margin-top: 2rem;
    padding: 1rem!important;
    color: white;
  }
  .icon-animation{
    width: 2rem;
    height: 2rem;
  }
}

#videos-container, #photos {
  min-height: 100%;
  padding-top: 3rem;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 1.5rem;
}